body {
  background-color: #daad86;
  border: solid 5px #bc986a;
}
h1 {
  background-color: #659dbd;
  color: white;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  left: 0;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 2.5vw;
  position: relative;
}


.allSections {
  flex-wrap:nowrap;
  width: 10%;
  max-width: 10%;
  height: auto;
  position: relative;
  border-right: solid 5px white;
  margin-top: 2%;
  padding-right: 5%;
  margin-right: 10%;
  margin-bottom: 2%;
  display: flex;
}
.border {
  height: 100px;
  width: 100%;
  background-color: #bc986a;
  display: flex;
  position: relative;
  align-items: center;
}
nav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  position: absolute;
  right: 200px;
}

.headerlist {
  display: inline-block;
  padding: 30px;
}

.linktosec {
  color: #ffffff;
  text-decoration: none;
  display: block;
}
.hero {
  display: flex;
}
#mntimg {
  position: relative;
  width: 100%;
  height: 200px;
}
#headshot {
  position: absolute;
  width: 190px;
  border: 5px solid #659dbd;
  display: flex;
}
.aboutmetxt {
  position: relative;
  color: white;
  font-size: 1.75vw;;
  display: flex;
  justify-content: center;
  padding: 5%;
  width: 100%;
  height: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-wrap: break-word;
}

.sectionTag {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 5%;
  padding-right: 5%;
}

.mywork {
  width: 90%;
  filter: opacity(0.4) drop-shadow(0 0 0 #659dbd);
  transition: all 0.5s ease-out;
  position: relative;
  flex-wrap: nowrap;
  height: auto;
}

.mywork:hover {
  height: auto;
  filter: opacity(1) drop-shadow(0 0 0 transparent);
  position: relative;
  width: 90%;
}

.paragraphContain {
  width: 100%;
}

.imagework {
  width: 100%;
  height: auto;
  border: solid 5px #659dbd;
}

.worktxt {
  position: absolute;
  background-color: #659dbd;
  color: white;
  font-size: 2vw;
  font-weight: bold;
  padding-left: 1%;
  left: 0;
  bottom: 5%;
  z-index: 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.contacttxt {
  display: inline-block;
  color: white;
  font-size: 2vw;
  padding: 3%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.bottomlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
}


.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 10px;
  cursor: pointer;
  flex-direction: column;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  z-index: 1;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
  align-content: center;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 1000px) {
  nav {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
    position: absolute;
    right: 100px;
  }

  h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    font-size: 30px;
    position: relative;
    display: flex;
    text-align: center;
  }

  .sectionTag {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
  }

  .allSections {
    flex-wrap: flex;
    width: 75%;
    position: relative;
    margin: 5%;
    padding-right: 5%;
    display: block;
    text-align: center;
    border-bottom: solid 5px white;
    border-right: none;
    font-size: 30px;
  }

  .mywork {
    width: 100%;
    filter: opacity(0.4) drop-shadow(0 0 0 #659dbd);
    transition: all 0.5s ease-out;
    position: relative;
    flex-wrap: wrap;
    height: auto;
  }
  
  .mywork:hover {
    width: 100%;
    height: auto;
    filter: opacity(1) drop-shadow(0 0 0 transparent);
    position: relative;
  }
  
  .aboutmetxt {
    position: relative;
    color: white;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
    width: 100%;
    height: auto;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    overflow-wrap: break-word;
  }

  .contacttxt {
    color: white;
    font-size: 20px;
    padding: 3%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction:column;
    width: 100%;
    justify-content: right;
    align-items: right;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    
  }

  /* This is where the menu li come in */
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    width: 80px;
    align-content: left;
    justify-content: left;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
  }
  .menu > li {
    display: flex;
    justify-content: right;
    margin: 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}